<h2>New Message</h2>
<form action="/new" method="post">
    <label for="authorName">Author name:</label><input name="authorName" type="text">
    <label for="messageText">Message:</label><input name="messageText" type="text">
    <button type="submit">Submit</button>
</form>